<div class="login-reqd">
  <p>Login required! Please either create a 'New User', or submit your username to access other pages.</p>
  <p>(Or, if you're just browsing, you may login as 'Guest User').</p>
</div>