

<div id="loginWarning" class="login-reqd box-shadow">
  <button type="button" class="closeX" onclick="hideWarning()"></button>
  <h3 class="login-warning-title">Login required!</h3>
  <p>Please either create a 'New User', or submit your existing username to access other pages.</p>
  <p>(Or, if you're just browsing, you may login below as 'Guest User').</p>
</div>
