<nav class="main-nav">
  {{!-- <div class="logo-text">積ん読</div> --}}
  <ul class="nav-list">
    <li class="nav-item"><a href="/">Home</a></li>
    <li class="nav-item"><a href="/add-item">Add Item +</a></li>
    <li class="nav-item"><a href="/user">Profile</a></li>
    <li class="nav-item"><a href="/login">Login/Logout</a></li>
  </ul>
</nav>