<form class="form-div">
  <fieldset>
    <label class="form-label" for="title">Title</label>
    <input class="form-input" id="itemTitle" type="text" name="title">
    <label class="form-label" for="originalLangTitle">Original Language Title</label>
    <input class="form-input" id="originalLangTitle" type="text" name="originalLangTitle">
    <label class="form-label" for="pubYear">Publication Year</label>
    <input class="form-input" id="pubYear" type="number" min='1000' max='2999' name="pubYear">
    <label class="form-label" for="media_type">Media Type</label>
    <select name="media_type" id="mediaType">
      <option value="1">Book</option>
      <option value="2">Film</option>
      <option value="3">Audio</option>
      <option value="4">Periodical</option>
      <option value="5">Short</option>
      <option value="6">Episode</option>
      <option value="7">Season</option>
      <option value="8">Series</option>
      <option value="9">Anthology/Collection</option>
    </select>
    <label class="form-label" for="genres">Genres (Ctrl/Cmd + Click To Select Multiple</label>
    <select multiple name="genres" id="genres">
      <option value="1">Action</option>
      <option value="2">Bollywood</option>
      <option value="3">Comedy</option>
      <option value="3">Classics</option>
      <option value="4">Drama</option>
      <option value="5">Eccentric</option>
      <option value="6">Foreign</option>
      <option value="7">Horror</option>
      <option value="8">Language Learning</option>
      <option value="9">Romance</option>
      <option value="10">Sci-Fi</option>
      <option value="11">Self Help</option>
      <option value="12">Technology</option>
      <option value="13">Travel</option>
      <option value="14">World Literature</option>
      <option value="15">Other</option>
    </select>
    <div class="button-set">
      <button id="saveBtn" type="submit" class="submit-btn" name="saveItem">Save Item</button>
      <button id="cancelBtn" type="submit" class="cancel-btn" name="cancel">Cancel</button>
    </div>  </fieldset>
</form>