<section id="itemsTable" class="section">
  <table id="mediaItems" class="table">
    <thead>
    <tr class="header-row">
      <th>Title</th>
      <th>Orig. Title</th>
      <th>Type</th>
      <th>Pub. Year</th>
      <th>Genres</th>
      <th>Avg User Rating</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody">
    {{!-- <tr class="table-entry">
      <td>curls</td>
      <td>12</td>
      <td>55</td>
      <td>08-02-2019</td>
      <td>lbs</td>
      <td>Edit Button</td>
      <td>Delete Button</td>
    </tr>  --}}
  </tbody>
  </table>  
</section>