<h1>Queue Item Test!</h1>
    <caption> Queue wisely! </caption>
    <thead>
      
      <th> Queue ID</th>
      <th> Title</th>
      <th> Genre</th>
      <th> Status</th>
      <th> Date Added</th>
      <th> Priority</th>
      <th> Delete </th>
    </thead>
    <tbody id="queue-items">
        </tbody>
<script src="js/script.js"></script>