   <h1>Media Search</h1>
    <div class="container">
        <p>Enter query: <input id="search"/></p>
        <button id="submit" class="btn btn-primary btn-sm" role="button">Search</button>
    </div>
    </div>
    <div id="output"></div>   