<section id="exercises" class="section">
  <table id="exerciseTable" class="table">
    <thead>
    <tr class="header-row">
      <th>Exercise</th>
      <th># of Reps</th>
      <th>Weight</th>
      <th>Date (MM-DD-YYYY)</th>
      <th>Unit (lbs/kg)</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody id="tbody">
    <!-- <tr class="table-entry">
      <td>curls</td>
      <td>12</td>
      <td>55</td>
      <td>08-02-2019</td>
      <td>lbs</td>
      <td>Edit Button</td>
      <td>Delete Button</td>
    </tr> -->
  </tbody>
  </table>  
</section>