<div class="page-content">
  {{>workout-table}}
  {{>form}}
</div>
<script src="/js/form.js"></script>
<script src="/js/table.js"></script>
<script src="/js/apiCalls.js"></script>
<script src="/js/static.js"></script>

