<section class="page-content">
<form id="login" class="form" action="/login" method="post">
  <h2 class="login-h2">Existing User Login</h2>
  <fieldset class="form-div box-shadow">
    <label for="name">Username</label>
    <input type="text" name="username" id="name">
    <label for="pw">Password</label>
    <input type="password" name="pw" id="pw">
    <div class="button-set">
      <button type="submit" class="submit-btn" name="New Session" value="needsSomeValue">Login</button>
      <button type="submit" class="cancel-btn" name="cancel">Cancel</button>
    </div>
  </fieldset>
</form>
<form id="createUser" class="form" action="/user-info" method="post">
  <h2 class="login-h2">New User? Sign Up!</h2>
  <fieldset class="form-div box-shadow">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="user_email">Email</label>
    <input type="text" name="user_email" id="user_email">
    <label for="pw">Password</label>
    <input type="password" name="pw" id="pw">
    <label for="pw">Confirm Password</label>
    <input type="password" name="pw2" id="pw2">
    <div class="button-set">
      <button type="submit" class="submit-btn" name="New User" value="newUser">Create Account</button>
      <button type="submit" class="cancel-btn" name="cancel">Cancel</button>
    </div>
  </fieldset>
</form>
</section>