<section class="page-content">
<h1>LOGIN!</h1>
<form id="login" class="form" action="/form" method="post">
  <fieldset class="form-div">
    <label for="name">Username</label>
    <input type="text" name="name" id="name">
    <label for="pw">Password</label>
    <input type="password" name="pw" id="pw">
    <button type="submit" class="form-submit-btn" name="New Session" value="needsSomeValue">Login</button>
  </fieldset>
</form>
</section>